html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9; /* Cor de fundo suave */
    color: #333; /* Cor do texto */
}

.navbar {
    font-size: 20px;
    background-color: #333; /* Cor de fundo da navbar */
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para navbar */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fonte mais profissional */
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar li {
    display: inline;
}

.navbar a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transição suave */
}

.navbar a:hover {
    background-color: #575757; /* Cor de fundo ao passar o mouse */
    color: white;
}

.navbar li[selected] a {
    background-color: #007BFF; /* Cor de fundo para o item selecionado */
    color: white;
    font-weight: bold; /* Negrito para o item selecionado */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    margin: auto;
    background-color: #f4f4f9;
    padding: 20px;
    box-sizing: border-box;
}

.subcontainer {
    width: 80%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    padding: 20px;
    box-sizing: border-box;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.profile-image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-right: 100px;
}

.about-me {
    max-width: 50%;
}

.about-me h2 {
    margin-top: 0;
    color: #007BFF; /* Cor do título */
}

.about-me p {
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.grid-item {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.grid-item h3 {
    margin-top: 0;
    color: #007BFF; /* Cor do título */
}

.grid-item a {
    display: inline-block;
    margin-top: 10px;
    color: #007BFF;
    text-decoration: none;
}

.grid-item a:hover {
    text-decoration: underline;
}

.project-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.contact-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Duas colunas */
    gap: 20px;
    padding: 20px;
}

.contact-item {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.contact-image {
    width: 100px;
    height: 100px;
    object-fit: cover; /* Garante que a imagem se ajuste ao tamanho definido sem distorção */
}